{
	"$schema": "https://json.schemastore.org/swcrc",
	"jsc": {
	  "parser": {
	    "syntax": "typescript",
	    "jsx": false,
	    "dynamicImport": true,
	    "privateMethod": false,
	    "functionBind": false,
	    "exportDefaultFrom": false,
	    "exportNamespaceFrom": false,
	    "decorators": true,
	    "decoratorsBeforeExport": false,
	    "topLevelAwait": false,
	    "importMeta": false
	  },
	  "transform": null,
	  "target": "es2016",
	  "loose": false,
	  "externalHelpers": false,
	  "keepClassNames": false // Requires v1.2.50 or upper and requires target to be es2016 or upper.
	  ,
		"baseUrl": "./",
		"paths": {
		    "@util/*": ["src/_util/*"],
				"@d-entity/*": ["src/domain/entity/*"],
				"@d-event/*": ["src/domain/event/*"],
				"@d-repository/*": ["src/domain/repository/*"],
				"@d-service/*": ["src/domain/service/*"],
				"@infrastructure/*": ["src/infrastructure/*"],
				"@r-models/*": ["src/repository/_models/*"],
        "@r-utils/*": ["src/repository/_utils/*"]
		 }
	},
	"minify": false
}
